.create_holder {
    grid-column: 2;
    grid-row: 1;
    position: sticky;
    top: 0;
    background-color: white;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
}


.create_holder > input {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: solid 1px;
    border-collapse: collapse;
    font: inherit;
}

.create_holder > input:focus-visible {
    outline: none
}

input.create_filled_input {
    width: 75%;
}

.create_holder > button {
    border: none;
    display: block;
    padding: 1vh;
    margin-left: 5vw;
    background-color: white;
    color: royalblue;
}

.create_holder > svg {
    font-size: 1rem;
    margin-right: 2%;
}

@media (max-width: 720px) {
    .create_holder {
        padding: 2vh;
    }
}