.task_item {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    grid-column: 2;
}

.task_left {
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-grow: 2;
}

.task_icon_holder {
    padding-right: 2%;
}

.task_item:hover {
    background-color: ghostwhite;
}

.task_item_holder {
    display: grid;
    grid-template-rows: auto;
}

@media (min-width: 720px) {
    .task_item_holder {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media (max-width: 720px) {
    .task_item_holder {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .task_icon_holder {
        padding-right: 4vw;
    }

    .task_item {
        padding: 2vh;
    }
}


.task_item_completed {
    color: gray;
    text-decoration: line-through;
}


html {
    font-family: montserrat, sans-serif;
}

.fa-trash-alt {
    color: #CA0B00;

}